# Logs
php_errors.log
*.log

# User Uploads (Ignore files, keep folder structure)
uploads/installment_payments/*
!uploads/installment_payments/.gitkeep
uploads/payments/*
!uploads/payments/.gitkeep
uploads/payouts/*
!uploads/payouts/.gitkeep
uploads/peppians/*
!uploads/peppians/.gitkeep
uploads/photos/*
!uploads/photos/.gitkeep

# Node dependencies
node_modules/
.next/
dist/
out/
